@import url(//db.onlinewebfonts.com/c/d0a687dd2a0803f486cde808245bd3c5?family=Press+Gothic);
@font-face {font-family: "Press Gothic"; src: url("//db.onlinewebfonts.com/t/d0a687dd2a0803f486cde808245bd3c5.eot"); src: url("//db.onlinewebfonts.com/t/d0a687dd2a0803f486cde808245bd3c5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d0a687dd2a0803f486cde808245bd3c5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d0a687dd2a0803f486cde808245bd3c5.woff") format("woff"), url("//db.onlinewebfonts.com/t/d0a687dd2a0803f486cde808245bd3c5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d0a687dd2a0803f486cde808245bd3c5.svg#Press Gothic") format("svg"); }

/* TRANSITION GROUP */
/*
.page {
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
/* FONT-STYLE */

* { margin:0; padding:0; box-sizing:border-box; }

:root {
  --hue-neutral: white;
  --hue-wrong: red;
  --hue-correct: green;
}

.error {
  color: red;
}


button {
  font-family: 'Segoe UI'!important;
}

.disabled, .disabled a:hover {
  background-color: #cccccc!important;
   color: black!important;
}

.answerbtn.correct {
  background-color: var(--hue-correct);
}

.answerbtn.wrong {
  background-color: var(--hue-wrong);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, div {
  color: white!important;
  text-align: center;
}

/* LOGO & IMAGES */

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 40%;
}

#avatar {
  position: relative;
  right: 0;
}

#alert {
  position: relative;
  top: 0;
}

.avatars {

  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.avatars:active {
  opacity: 0.5;
}

form {
  height: 300px;
}


/* AUDIO ET VIDEOS */

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: no-repeat;
  background-size: cover;
}
/* FADE IN LOGO */
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

/* TITRES */

.hometitle{
  font-family: "Press Gothic";
  font-size: 70px;
  letter-spacing: 2px;
}

.ant-modal-title {
  color: black!important;
}


/* BOUTONS */

.answerbtn {
  margin: 10px;
  margin-left: auto;
  font-weight: bold;
  background-color: transparent;
  border: 1px white solid;
  height: 50px;
  color: white;
  transition: 0.4s;
  width: 45%;
  border-radius: 8px;
  margin-top: 25px;
  
}

.answerbtn:hover {
  color: black;
  background-color: white;
}

@media (min-width: 500px) {

nav {
  left: 0;
}    
#mobile-goHomeBtn {
   display: none;
}
.logout-box-mobile {
  display: none;
}
#profil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.deco-mobile {
  display: none;
}

}

.menuBtn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 8px;
  height: 50px;
  width:  200px;
  color: white;
  transition: 0.4s;
  margin: 30px;
  padding: 1.6em 4em;
}

.menuBtn:hover {

  color: black;
  background-color: white;
}


.Btn {
  background-color: transparent;
  border: 1px white solid!important;
  border-radius: 8px;
  height: 50px;
  width:  200px;
  color: white;
  transition: 0.4s;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Btn:hover {
  color: black;
  background-color: white;
}

.goHomeBtn {
  background-color: transparent;
  border: 1px white solid;
  height: 50px;
  width:  200px;
  color: white;
  font-size: 20px;
  position: relative;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 55px;

}
.loginBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0;
  width: 150px;
  margin: 10px;
  background-color: transparent;
  color: white;
  border: 1px white solid;
  margin-top: 8px;
  min-height: 30px;
  border-radius: 10px;
  transition: 0.4s;
}

.loginBtn:hover {
  color: black;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

#mute {
  margin-left: 45px;
  margin-top: 15px;
  margin: 15px;
}

/* BOX ET CONTAINERS */

#menuBtn-box {
  display: flex;
  justify-content: center;

}

.score-box {
  font-size: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 200px;
}

.question-box {
  border: 3px solid white;
  margin-top: 200px;
  height: 150px;
  border-radius: 8px;
}

.login-box {

  position: relative;
  top: 80px;
  border-right: 1px solid rgba(224, 218, 218, 0.103);

}



.login-box input  {
  height: 50px;
  width: 275px;
  margin: 5px;
  background: transparent;
  color: white;
  border: 1px solid rgba(224, 218, 218, 0.103);
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 5px;
  position: relative;
  top: 40px;
  
}

.score-box input {

  height: 40px;
  width: 250px;
  background: transparent;
  color: white;
  border: 1px solid rgba(224, 218, 218, 0.103);
  border-top: none;
  border-right: none;
  border-left: none;
  

}

.profil-box {
  display: flex;
  justify-content: flex-end;
  background-image: url("images/profil-bg.jpg");
  background-size: cover;
  border: 2px white solid;
  position: relative;
  top: 70px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.logout-box {
  display: flex;
}

.end-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;


}
.rulestext {
  text-align: center;
  padding-top: 5%;
}

/* TABLES */

td {
  color: white;

}

table, th {
  border: 3px white solid;
}

table {
  width: 55%!important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
}

.signin {
  border: 1px white solid;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

#imgjoel {
  position: absolute;
  height: 450px;
  right: -180px;
  top: -50px;
}

#imgellie {
  position: absolute;
  height: 400px;
  right: 140px;
}

/* MOBILE FIRST */

@media (max-width: 500px) {


    
  #logo {
    width: 100%;
    height: auto;
  }
  #mute {
    display: none;
  }
  #imgjoel, #imgellie {
    display: none;
  }
  .hometitle {
    font-size: 55px;
  }
  .hometitle2 {
    display: none;
    
  }
  .menuBtn {
    display: block;
    position: relative;
    float: none !important;
    left: auto;
    position: relative;
    padding: 0;
    
  }
  #avatarNav {
    float: right;
    border: 1px black solid;
  }

  #login-container {
    display: flex;
    justify-content: center;
  }

  #logout-container {
    display: none;
  }

  #rules-container {
     position: relative;
     top: 50%;
     bottom: 50%;
  }

  .rulestext {
    font-size: 20px;
    padding-top: 50px;
  }

  #nav-container {
    display: flex;
    justify-content: flex-start;
  }

  #goHomeBtn {
    display: none;
  }

  .profil-box {
    background: transparent;
    width: 90%;
    display: flex;

  }

  .profil-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .loginBtn {
    float: left;
  }
  
  .question-box > h2 {
    font-size: 20px;
    padding-top: 15px;

  }
  #username {
    width: 200px;
  }
  .answerbtn {
    position: relative;
    top: 20px;
    margin: 5px;
    width: 45%;

  }
  .deco-mobile {
    float: left;
    position: absolute;
  }
  .ant-avatar .ant-avatar-circle .ant-avatar-icon {
    float: right;
  }
  .login-box {
    border-right-color: transparent;
  }


}




